@model Examen.ApplicationCore.Domain.Equipement

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Equipement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EquipementId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EquipementId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoEquipement)
        </dt>
        <dd class="col-sm-10">
            <img src="~/uploads/@Model.PhotoEquipement" height="50" width="50" />
        </dd>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EtatEquipement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EtatEquipement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.NomStudio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Studio.NomStudio)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Studio.Superficie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Studio.Superficie)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
